<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>02_scalingBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,602},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>03_logo_fe.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,602},{400,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>04_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,803},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0474b0f438c63f2ef2d8f6ecc138b026:1/1$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
